*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  font-size: 10px;
  --anim-speed : 0.3s
}

html {
  box-sizing: border-box;
  background: #D2D2C3;
  overflow: hidden;
  font-family: 'Loved by the King', cursive;
}

.background {
  top: 0;
  margin: -120px auto;
  display: block;
  width: 90em;
  overflow: hidden;
}

svg {
  font-family: 'Covered By Your Grace', cursive;
}

button.btn {
  width: 197px;
  top: 4.6em;
  left: 1em;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: #3c3c3c;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  letter-spacing: 0.3em;
  transition: 0.3s all;
  font-family: 'Loved by the King', cursive;
  z-index: 2;
}

button:hover {
  background: rgba(255, 255, 255, 0.15);
}

button:focus {
  outline-color: #CECECE;
}

button.btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.score {
  display: block;
  text-align: center;
  width: 108px;
  line-height: 1;
  top: 3.2em;
  left: 11.9em;
  color: #3C3C3C;
  position: relative;
  font-size: 63px;
}

#tape {
  left: 100px;
}

#tape.anim {
  animation: move .5s infinite ease;
}

@keyframes move {
  100% {
      transform: translateX(-5%);
  }
}

#elipse {
  height: 1px;
  width: 52px;
  position: relative;
  top: 10em;
  left: 67.7em;
}

#elipse #pointer {
  background-color: #676767;
  display: block;
  height: 26px;
  width: 4px;
  border-radius: 2px;
  top: -8em;
  left: 1.9em;
  position: absolute;
} 

.pointer-anim {
  transform-origin: 100px 50px; 
-webkit-animation: rotate 31.5s infinite linear;
-webkit-transform-origin: left bottom;
-moz-animation: rotate 31.5s infinite linear;
-moz-transform-origin: left bottom;
-ms-animation: rotate 31.5s infinite linear;
-ms-transform-origin: left bottom;
-o-animation: rotate 31.5s infinite linear;
-o-transform-origin: left bottom; 
animation: rotate 31.5s infinite linear;
}

@-webkit-keyframes rotate {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}	

@-moz-keyframes rotate {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}	

@-ms-keyframes rotate {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}	

@-o-keyframes rotate {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}	

@keyframes rotate {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
}

.game {
  width: 90%;
  height: 397px;
  display: flex;
  margin: 0 auto;
  top: -71em;
  position: relative;
}

.place {
  flex: 1 0 15%;
  overflow: hidden;
  position: relative;
  height: 397px;
  transition: 0s var(--anim-speed) height;
}

.sushi {
  background-size: 100%;
  position: absolute;
  top: 397px;
  width: 100%;
  height: 85px;
  background-position: center bottom;
  cursor: pointer;
}

.place.up {
  height:470px;
}

.place.up .sushi {
  animation: up calc(var(--anim-speed) * 2) 0s 1 forwards;
}

@keyframes up {
  50% {
      top: 307px;
  }
  100% {
      top: 367px;
  }
}

.place.down {
  height:397px;
}

.place.down .sushi {
  animation: down calc(var(--anim-speed) * 2) 0s 1 forwards;
}

@keyframes down {
  0% {
      top: 367px;
  }
  50% {
      top: 307px;
  }
  100% {
      top: 400px;
  }
}

.sushi0 {
  background: url('../images/orange-sushi.svg') bottom center no-repeat;
}

.sushi1 {
  background: url('../images/blue-sushi.svg') bottom center no-repeat;
}

.sushi2 {
  background: url('../images/black-sushi.svg') bottom center no-repeat;
}

.sushi3 {
  background: url('../images/green-sushi.svg') bottom center no-repeat;
}

.sushi4 {
  background: url('../images/yellow-sushi.svg') bottom center no-repeat;
}

.sushi5 {
  background: url('../images/pink-sushi.svg') bottom center no-repeat;
}

.container {
  position:relative;
}

.plate{
  position: absolute;
  height: 49px;
  width: 90px;
  left: -61em;
}

.orange-plate {
  background: url('../images/orange-plate.svg') center no-repeat;
}

.blue-plate {
  background: url('../images/blue-plate.svg') center no-repeat;
}

.black-plate {
  background: url('../images/black-plate.svg') center no-repeat;
}

.green-plate {
  background: url('../images/green-plate.svg') center no-repeat;
}

.yellow-plate {
  background: url('../images/yellow-plate.svg') center no-repeat;
}

.pink-plate {
  background: url('../images/pink-plate.svg') center no-repeat;
}

.over {
  top: 2.5em;
  left: 1em;
  font-size: 14em;
  position: absolute;
  color: #3C3C3C;
}